@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
   scroll-behavior: smooth;
}

#home-background {
   position: absolute;
   height: 100%;
   width: 100%;
   background: url(../images/header-background.jpg) no-repeat top center;
   background-size: cover !important;
   background-attachment: fixed;
   -webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
   top: 0;
   left: 0;
   right: 0;
   outline: 0;
   z-index: 1;
   animation: fade-in 4s steps(1) 1;
}


/* INTRO SCREEN */
#intro-screen {
   background-color: black;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   text-align: center;
   z-index: 10;
}

.number-counter {
   margin-top: 30vh;
}

.box, .percent, .first-num {
   display: inline-block;
   overflow: hidden;
   height: 1em;
   line-height: 1em;
   font-weight: bold;
   font-size: calc(30px + 5vw);
   color: white;
   font-family: 'Source Sans Pro', sans-serif;
}

.percent {
   font-size: calc(30px + 5vw);
   user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.box:after {
   position: relative;
   white-space: pre;
   content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A"
}

.first-num {
   animation: hide 5s steps(1, end) 1;
   user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; 
}

.box.second-number {
   animation: hide 0.5s steps(1, end) 1; 
}

.box.second-number:after {
   animation: count 5s steps(10) 1;
}

.box.third-number:after {
   animation: count 0.5s steps(10) 10;
}

@keyframes count {
   from {top: 0} to {top: -10em} 
}

@keyframes hide {
   from {opacity: 0} to {opacity: 1};
}

.mario-gif {
   width: 80%;
   display: inline-block;
   padding-top: 10%;
   text-align: left;
}

.mario-jump {
   width: 5%;
   user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.mario-run {
   animation: move-right 5s 0.25s linear;
   width: 100%;
}

.mario-gif img {
   width: 100%;
   min-width: 20px;
}

@keyframes move-right{
   from {transform: translateX(0)} to {transform: translateX(80vw)}
}

#intro-screen:active .mario-jump {
   animation: jump 1s 
} 

@keyframes jump {
   from, to {transform: translateY(-100%)}
}

.progress-bar {
   display: inline-block;
   width: 80%;
   margin-top: 1vh;
   height: 10%;
}

.progress-bar h2 {
   color: white;
   z-index: 1000000;
   position: relative;
   font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
   top: 50%;
   transform: translateY(-50%)
}

.moving-bar {
   position: absolute;
   border-radius: 2em;
   height: 10%;
   width: 80%;
   background-color: green;
   animation: slide-left-mario 5s linear, change-color 5s linear;
   z-index: 100;
}

@keyframes slide-left-mario {
   from {width: 0} to {width: 80%;}
}

@keyframes change-color {
   from {background-color: red} to {background-color: green}
}

/* A. Header Styling */
header {
   text-align: center;
   top: 0;
   left: 0;
   right: 0;
   outline: 0;
}

#home {
   display: none; 
}

@keyframes fade-in {
   from {opacity: 0}
   to {opacity: 1}
}

#nav-wrap {
   top: 0;
   left: 0;
   width: 100%;
   position: fixed;
   z-index: 10000;
   background-color: rgb(20, 22, 22); 
   text-align: center;
}

.inactive-nav {
   animation: hide 0.5s;
   display: none;
}

.nav {
   width: 50%;  
   min-width: 350px;
   display: inline-flex;
   justify-content: space-between;
   list-style: none;
   padding-left: 0;
   align-items: center;
   height: 80px;
}

.homebutton {
   border: white 2px solid;
   padding: 10px;
   font-family: 'Source Sans Pro', sans-serif;
   color: white;
}

.homebutton:hover {
   color: orange;
}

.menu-bar {
   position: relative;
   overflow: hidden;
   padding-inline-start: 0;
   width: 40%;
   min-width: 300px;
}

.menu-animation {
   background-color: white;
   border-radius: 2em;
   animation: slide-left 0.5s;
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
}

@keyframes slide-left {
   from {width: 0}
   to {width: 100%}
}

.menu-button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: white;
   cursor: pointer;
   outline: 0;
}


.nav img {
   background-color: white;
   border-radius: 50%;
   cursor: pointer;
}

.nav li {
   display: inline-block;
   padding: 10px 10px;
   font-family: 'Source Sans Pro', sans-serif;
   
    
}

.nav li a {
   color: rgb(20, 22, 22);
}

a {
    color: white;
    text-decoration: none
}

a.smoothscroll:hover {
   color: orange;
}


.row-banner {
   animation: fade-in 2s 1;
   z-index: 10;
   position: relative;
   margin-top: 25vh;
   width: 50%;
   min-width: 350px;
   display: inline-block;
   background-color: rgb(20, 22, 22);
}

.banner-text {
   color: white;
   width: 90%;
   display: inline-block;
}

.banner-text .Typewriter, .banner-text h1 {
   color: white;
   font-family: 'Jost', sans-serif;
   font-size: calc(30px + 2.5vw);
   margin-bottom: 20px;
}

.banner-text h1 {
   margin-top: 0px;
}

.banner-text h3 {
   display: inline-block;
   font-family: 'Nunito', sans-serif;
   font-weight: 200;
   font-size: calc(10px + 0.55vw);
}

.social {
   display: inline-flex;
   justify-content: center;
   list-style: none;
   padding: 0;
}

.social li {
   padding: 5px 1vw;
}

@keyframes bounce {
   15% {transform: translateY(-10px)}
   40% {transform: translateY(0px)}
   55% {transform: translateY(-5px)}
   70% {transform: translateY(0px)}
   85% {transform: translateY(-2px)}
   100% {transform: translateY(0px)}
}

.social li a img:hover {
   animation-name: bounce;
   animation-duration: 1s;
}

.button-down {
   z-index: 10;
   position: relative;
   margin-top: 10vh;
   width: 51%;
   min-width: 350px;
   display: inline-block;
   border-top: rgb(20, 22, 22) solid 8px;
   animation: fade-in 2s 1;
}

.button-down a img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: grey;
   margin-top: -29px;
}

.button-down a img:hover {
   background-color: rgb(223, 182, 105);
}

/* General Layout */

#container {
   z-index: 100;
   position: absolute;
   text-align: center;
   top: 100%;
   left: 0;
   right: 0;
   background-color: rgb(230, 233, 232);
   display: none;
}

.inactive {
   display: none;
}

/* About Section */

#about {
   display: inline-block;
   width: 100%;
   padding: 50px 0px;
   text-align: center;
}

#about .row {
   display: inline-flex;
   justify-content: center;
   flex-wrap: wrap;
   box-sizing: border-box;
   width: calc(50% - 50px);
   min-width: 350px;
   text-align: left;
   align-items: center;
}

img.profile-pic {
   width: 30%;
   min-width: 300px;
   overflow: hidden;
   height: calc(4 * 13vw / 3);
   min-height: 400px;
}

.about-info {
   width: 30%;
   padding-left: 50px;
   min-width: 300px;
   justify-content: space-around;
}

.about-info .row .contact-details{
   width: 55%;
   text-align: left;
}

.about-info h2 {
   color: black;
   font-family: 'Jost', sans-serif;
   font-weight: 100;
}

.about-info p {
   color: rgb(37, 31, 31);
   font-family: 'Nunito', sans-serif;
   font-size: 14px;
   width: 90%;
}

.about-info .row-contact .contact-details .contact {
   margin-top: 0;
}

.about-info .row-contact .contact-details .contact a {
   color: rgb(37, 31, 31);
}

.about-info .row-contact .contact-details .contact a:hover {
   color: rgb(57, 93, 212)
}

.about-info .row-contact .contact-details .contact span {
   font-size: 20px;
}

.about-info .row-contact .download {
   padding-top: 10px;
   width: 45%;
   box-sizing: border-box;
   font-family: 'Nunito', sans-serif;
   font-size: 14px;
}

.download a {
   margin-top: 10px;
   text-align: center;
   padding: 10px;
   background-color: rgb(105, 97, 87);
   border-radius: 0.25em;
}

.download a:hover {
   background-color: white;
   color: rgb(105, 97, 87);
}

/* Experience Section */
#resume {
   width: 100%;
   display: inline-block;
   text-align: center;
   padding: 30px 0 80px 0;
}

#resume .row {
   display: inline-flex;
   justify-content: center;
   flex-wrap: wrap;
   box-sizing: border-box;
   width: 50%;
   min-width: 350px;
   text-align: left;
}

.tab {
   padding-top: 20px;
   box-sizing: border-box;
   height: 175px;
   width: 150px;
   margin: 0;
   resize: horizontal;
}

.active {
   background-color: #ebd6a8 !important;
}

.tablinks {
   border: 0;
   margin: 0;
   width: 100%;
   height: 40px;
   cursor: pointer;
   padding: 0;
   text-transform: uppercase;
   font-family: 'Teko', sans-serif;
   font-size: 18px;
}

button:focus {
   outline:0;
}

.tabcontent {
   width: 60%;
   padding-left: 50px;
   min-width: 300px;
   margin-top: 20px;
   padding-bottom: 30px;
}

h1.heading {
   font-family: 'Nunito', sans-serif;
   font-weight: 600;
}

h3.info-location {
   font-family: 'Jost', sans-serif;
   font-weight: 600;
}

em.title {
   padding-right: 5px;
}

span.date {
   padding-left: 5px;
}

.expand {
   cursor: pointer;
   padding: 18px;
   width: 90%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   font-weight: bold;
   font-family: 'Jost', sans-serif;
}
 
.expand:hover, .tablinks:hover {
   background-color: rgb(236, 213, 213);
}

.courses {
   width: 90%;
   border-radius: 1em;
}

.courses p {
   background-color: rgb(224, 224, 224);
   margin: 0;
   padding: 10px;
   line-height: 1.5;
   font-family: 'Nunito', sans-serif;
}

ul.work-info {
   width: 90%;
   font-family: 'Nunito', sans-serif;
   line-height: 1.5;
   padding-inline-start: 20px;
   list-style: square;
}

ul.work-info li {
   padding: 5px 0;
}

ul.skills {
   padding-inline-start: 0;
   list-style: none;
}

ul.skills li em {
   text-transform: uppercase;
   font-family: 'Noto Sans JP', sans-serif;
   font-style: normal;
}

ul.skills li div.skills-bar {
   width: 90%;
   height: 30px;
   margin: 10px 0 20px 0;
   border-radius: 1em;
   background-color: rgb(133, 117, 126);
}

.skills-bar .skills-bar-color {
   height: 100%;
   border-radius: 1em;
   background-color: rgb(50, 187, 112);
}

/* Projects page */

#portfolio {
   display: inline-block;
   width: 100%;
   min-width: 350px;
   padding: 10px 0 30px;
   text-align: center;
   padding-bottom: 100px;
}

#portfolio .row {
   width: 50%;
   min-width: 350px;
   display: inline-block;
}

#portfolio .row h1 {
   font-family: 'Jost', sans-serif;
   font-weight: 500;
   color: black;
   height: 40px;
   width: 200px;
   display: inline-block;
   padding: 0;
   margin-top: 20px;
   padding-top: 5px;
}

.row ul.projects {
   margin: 0;
   padding: 0;
   list-style: none;
}

.row ul.projects li {
   display: inline-flex;
   justify-content: center;
   width: 80%;
   background-color: #eed294;
   align-items: center;
   flex-wrap: wrap;
   margin: 20px 0;
}

li img.project-pic {
   width: 150px;
   height: 150px;
}

li div.project-info {
   width: 70%;
   text-align: left;
   padding-left: 30px
}

.project-info h3 {
   font-family: 'Jost', sans-serif;
   font-size: 23px;
   margin: 20px 0 10px 0;
   color: black;
}

.project-info p {
   font-family: 'Nunito', sans-serif;
   color: rgb(68, 63, 63);
   font-size: 14px;
   font-weight: 600;
   margin: 0;
}

.project-info a img{
   width: 35px;
}

.language-container {
   margin-bottom: 10px;
}

.language-container span.languages {
   margin-right: 10px;
   background-color: #fbeec1;
   padding: 0 5px;
   font-weight: 100;
   font-family: 'Jost', sans-serif;
}

/* FOOTER SECTION*/

footer {
   background-color: black;
   width: 100%;
   text-align: center;
   bottom: 0;
   margin-bottom: 0;
}

.button-top {
   display: inline-block;
   width: 100%;
}

footer .button-top a img {
   width: 50px;
   height: 50px;
   margin-top: -25px;
   border-radius: 50%;
   background-color: grey;
}

.button-top a img:hover {
   background-color: rgb(223, 182, 105);
}

.footer-contact {
   text-align: center;
}

.footer-contact p {
   font-family: "Jost", sans-serif;
   font-size: 20px;
   min-width: 300px;
   width: 20%;
   display: inline-block;
}

.footer-contact ul.footer-social {
   padding-inline-start: 0;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.footer-contact ul.footer-social li {
   display: flex;
   justify-content: left;
   align-items: center;
   padding: 0 10px;
}

.footer-contact ul.footer-social li a:hover {
   animation: bounce 1s;
}

.footer-contact ul.footer-social li img {
   width: 30px;
   height: 30px;
}

.footer-contact ul.footer-social li a {
   font-family: 'Nunito', sans-serif;
   font-size: 16px;
   padding-left: 5px;
}

footer p {
   color: white;
   margin-top: 0;
   font-family: 'Jost', sans-serif;
   font-size: 10px;
   padding: 10px 0;
}